@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap");

:root {
	/* Colors?*/
	--dark-accent-color: #071e22ff;
	--main-color: #1d7874ff;
	--main-color-light: #679289ff;
	--main-accent-color: #f4c095ff;
	--secondary-accent-color: #ee2e31ff;
}

* {
	font-family: "Oswald", sans-serif;
}

.header-navbar {
	background-color: var(--main-accent-color);
	color: var(--secondary-accent-color);
	padding: 0.3%;
}

.header-navbar a {
	color: var(--secondary-accent-color);
}

.content {
	margin-top: 1%;
	background-color: var(--main-color);
	height: 100%;
}

.profile-text {
	font-size: 2em;
}

.profile-description {
	font-size: 1.5em;
}

@media (min-width: 576px) {
	.profile-text {
		font-size: 3em;
	}
}
